html { background-color: black; }

body {
	background: url('../resources/lake.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}

.container { max-width: 1000px; }

.bg-white {opacity: .9;}

* { color: #605e5e; }

p,
h4 { 
	margin-left: 2rem;
	max-width: 600px;
}



p {
  margin-top: 1em;
  margin-bottom: 2em;
}

a { text-decoration: none !important; }

.title,
.title span { color: white;}

.title { 
    padding-top: 1em;
}
.title span { font-size: 40%;}

small {
  font-size: 40%;
  color: #cccccc;
}


.weekly_info { font-size: 1.5rem; }
.weekly_info p { 
    margin-top: .5em;
    margin-bottom: 1em;
    margin-left: 4rem;
}
.weekly_info h4 { 
	margin-left: 3rem; 
	margin-top: .5em;
}
.weekly_info a { color: #de5021; }

.weekly_info a[href="javascript:void(0)"] {
    color: #ccc;
    cursor: default;
}